div#div-ub-republicworld\.com_1695278106394 {
    margin-bottom: 20px;
}

#ubVideo .vjs-button>.vjs-icon-placeholder:before {
    font-size: 1.8em !important;
    line-height: 1.67 !important;
}